*
{
	margin:0;
	padding:0;
	border:0;
}
li
{
	position:relative;
	display:inline-block;
	width:45%;
	margin-left:20px;
	margin-top:20px;
}
html,body
{
	height:100%;
}
ul
{
	list-style-type:none;
}

#wrapper
{
	width : 100%;
	min-height:100%;
	background-color:red;
	position: relative;
 }
 .sideBar
 {
	position:absolute;
	top:0;
	left:0;
	width:20%;
	height:100%;
	background-color:gold;
 }
 .mainCont
 {
	position:relative;
	margin-left:20%;
	background-color:black;
	height:100%;
 }
 .search
 {
	position:relative;
	height:8%;
 	background-color:red;
 }
 .searchDesign
 {
	margin-top:1%;
	margin-left:70%;
	width:250px;
	height:25px;
	text-align:right;
 }
 .listData
 {
		position:relative;
		margin-top:0px;
		background-color:white;
		height:92%;
 }
 .element
 {
 	position:relative;
	background-color:blue;
	height:25%;
 }
 .image
 {
	float: left;
	position:relative;
	width:30%;
	height:100%;
	background-color:green;
 }
 .info
 {
	position:relative;
	display:inline-block;
	height:100%;
	width:70%;
 }
 .autor
 { 	
	position:relative;
	text-align:center;
	background-color:orange;
	height:25%;
 }
 .ganre
 {
 	position:relative;
	text-align:center;
	background-color:white;
	height:25%;
 }
 .year
 {
 	position:relative;
	text-align:center;
	background-color:orange;
	height:25%;
 }
 .discription
 {
 	position:relative;
	text-align:center;
	background-color:white;
	height:25%;
 }

 html,body
{
	height:100%;
}
#wrapper1
{
	width : 100%;
	min-height:100%;
	position: relative;
 }
 .login
 {
	position:absolute;
	top:30%;
	left:34%;
	width:30%;
	height:30%;
	background-color:green;
	border: 2px double black;
 }
 .loginTitle
 {
	position:relative;
	height:20%;
	background-color:red;
	text-align:center;

 }
 .loginForm
 {
  	position:relative;
	height:20%;
	background-color:yellow;
 }
 .passwordTitle
 {
 	position:relative;
	height:20%;
	background-color:red;
	text-align:center;
 }
 .passwordForm
 {
   	position:relative;
	height:20%;
	background-color:yellow;
 }
 .other
 {
   	position:relative;
	height:20%;
	background-color:white;
 }
 .logBut
  {
	position:absolute;
	bottom:25%;
	left:20%;
	height:50%;
	width: 60%;
	background-color:purple;
 }
 .loginInput
 {
 	position:relative;
	left:27%;
 }
 .passwordInput
 {
	position:relative;
	left:27%;
 }
 