@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto:400,300,700|Oswald:400,300,700&subset=latin,cyrillic-ext);
*
{
	margin:0;
	padding:0;
	border:0;
}
li
{
	position:relative;
	display:inline-block;
	width:45%;
	margin-left:20px;
	margin-top:20px;
	vertical-align:top;
}
body {
	background: url(../image/books/background14.jpg) fixed;
}
html,body
{
	height:100%;
	font-family:"Open Sans"; 
}
ul
{
	list-style-type:none;
	background-color:white;
	margin: 15px;
	border-radius: 5px 5px 0px 0px;
	border-top:6px solid #3E3435;
}

#wrapper
{
	width : 100%;
	min-height:100%;
	background-color:transparent;
	position: relative;
	/*background: url(../image/books/background14.jpg) fixed;*/
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
 }
 #wrapper2
{
	width : 100%;
	min-height:100%;
	background-color:red;
	position: relative;
	background: url(../image/books/background14.jpg) fixed;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
 }
.myLogo {
position: absolute;
top: 0px;
background-color: #3E3435;
padding-left: 460px;
padding-right: 507px;
}
 .mainLogo
 {
	height:35px;
	position:relative;
	top:0px;
	background-color: #3E3435;
	padding-left:30px;
	z-index:98432;
 }
 .moreDetails
 {
list-style-type: none;
background-color: white;
margin: 15px;
border-radius: 5px 5px 0px 0px;
border-top: 6px solid #3E3435;
 }
 .mainLogo img
 {
	width:100px;
 }
.iamreaded {
text-decoration: underline;
position: absolute;
bottom: 10px;
top: 260px;
left: 66px;
color:white;
}
 .backFadeSideBar
 {
	position:absolute;
	top:0;
	left:0;
	width:20%;
	height:100%;
	z-index:2;
	opacity: 0.4;
	background-color: #fff;
	 }
 .sideBar
 {
	position:absolute;
	top:35px;
	left:0;
	width:20%;
	height:100%;
	z-index:3;
 }
  .backFadeMainCont
 {
	position:absolute;
	top:8%;
	left:20%;
	width:80%;
	height:92%;
	z-index:2;
	opacity: 0;
	background-color: #fff;
}
 .mainCont
 {
	position:relative;
	margin-left:20%;
	margin-bottom:0px;
	z-index:3;
 }
 .backFadeSearch
 {
 	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:50px;
	z-index:2;
	opacity: 0.4;
	background-color: #fff;
 }
 .search
 {
	position:relative;
	height:50px;
 	z-index:3;
	
 }
 .searchDesign
 {
	margin-top:9px;
	margin-left:60%;
	text-align:right;
	 	position:relative;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 700;
	width: 250px;
	height: 30px;
	color: #6f6f6f;
	border-radius: 3px;
	box-shadow: 2px 2px 4px black;
 }
 .homeImage
 {
	position:absolute;
	top:9px;
	left: 30px;
	background: url(../image/books/home.png);
	background-position: 27px 0px;
	background-repeat:no-repeat;
	border:none;
	background-color: #14B08D;
	cursor:pointer;
	height :30px;
	width: 80px;
	outline:none;
	border-radius: 3px;
	box-shadow: 2px 2px 4px black;
 }
 .searchImage
 {
	position:absolute;
	top:9px;
	right: 85px;
	background: url(../image/books/search.png);
	background-position: 27px 0px;
	background-repeat:no-repeat;
	border:none;
	background-color: #14B08D;
	cursor:pointer;
	height :30px;
	width: 80px;
	outline:none;
	border-radius: 3px;
	box-shadow: 2px 2px 4px black;
 }
 .listData
 {
		position:relative;
		margin-top:0px;
 }
 .element
 {
 	position:relative;
	height:150px;

 }
 .image
 {
	float: left;
	position:relative;
	width:21%;
	height:100%;
	background-color:green;
 }
 .info
 {
	position:relative;
	display:inline-block;
	height:100%;
	width:70%;
 }
 .autor
 { 	
	position:relative;
	text-align:left;
	font-weight: bold;
	height:20%;
	padding-left:15px;
 }
 .ganre
 {
 	position:relative;
	text-align:left;
	height:20%;
	padding-left:15px;
 }
 .year
 {
 	position:relative;
	text-align:left;
	height:20%;
	padding-left:15px;
 }
 .discription
 {
 	position:relative;
	text-align:left;
	height:20%;
	padding-left:15px;
 }
 .myBut
 {
	position:relative;
	text-align:left;
	height:20%;
	padding-left:15px;
 }
 .butGreenOrRed
 {
	 background-color:#14B08D;
	position:relative;
	text-align:center;
	font-weight:bold;
	width:100px;
	cursor:pointer;
	color:white;
	font-family:"Oswald";
 }
.butRed {
background-color: #3E3435;
position: relative;
text-align: center;
font-weight: bold;
width: 100px;
cursor: pointer;
color: white;
font-family: "Oswald";
}
.closeRed
{
background-image:url(../image/books/clo.png);
background-repeat:no-repeat;
position: relative;
height:25px;
width:25px;
cursor: pointer;
}
 .butYellow
 {
	 background-color: #3E3435;
	position:absolute;
	top:0px;
	color:white;

	font-weight:bold;
	left: 150px;
	text-align:center;
	width:100px;
	font-family:"Oswald";
	cursor:pointer;
 }
 .proFile
 {
	 	position:relative;
		height: 190px;
 }
  .backProFileTitle
 {
		position:absolute;
		top:0;
		left:0;
		height: 50px;
		width:100%;
	z-index:2;
	opacity: 0.4;
	background-color: #fff;
	 }
 .proFileTitle
 {
 top:10px;
		position:relative;
		height: 50px;
		text-align:center;
		font-family:"Oswald";
		z-index:3;
 }
  .proFileCont
 {
		position:relative;
		height: 80%;
 }
 .proBut
 {
	position:absolute;
	bottom:20px;
	left:100px;
	padding: 3px 25px; 
	cursor:pointer;
	color:white;
	background-color:#3E3435;
	font-family:"Oswald";
	font-size:14pt;
 }
 .planBook
 {
	
 }
 .myData
 {
 	 	position:relative;
		height: 310px;
 }
   .backMyDataTitle
 {
		position:absolute;
		top:0;
		left:0;
		height: 50px;
		width:100%;
	z-index:2;
	opacity: 0.4;
	background-color: #fff;
	 }
  .myDataTitle
 {
		position:relative;
		top:10px;
		height: 50px;
		text-align:center;
		z-index:3;
		font-family:"Oswald";
 }
  .myDataCont
 {
		position:relative;
		height: 80%;
 }
 .bookNews
 {
 	 	position:relative;
		height: 40%;
 }
 .backbookNewsTitle
 {
 		position:absolute;
		top:0;
		left:0;
		height: 50px;
		width:100%;
	z-index:2;
	opacity: 0.4;
	background-color: #fff;
 }
   .bookNewsTitle
 {
		position:relative;
		top:10px;
		height: 50px;
		text-align:center;
		z-index:3;
		font-family:"Oswald";
 }
  .bookNewsCont
 {
		position:relative;
		height: 85%;
 }
 .firstInfo
 {
		position:relative;
		width:100%;
		height:250px;
 }
 .moreImage
 {
	position:relative;
	top:30px;
	margin-left:15px;
	width:20%;
	height:100%;
 }
 .myComm
 {
	position:absolute;
	top:30px;
	right:100px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	width:30%;
	height:240px;
	overflow-y:auto;
	font-family:"Roboto";
 }
 .moreAbout
 {
	position:absolute;
	left:200px;
	top:30px;
	width:60%;
	height:100%;
 }

 .name1
 {
	position:relative;
	height:25%;
	text-align:left;
	padding-left:15px;
	font-size: 20pt;
 }
 .autor1
 {
	position:relative;
	height:25%;
	text-align:left;
	padding-left:15px;
	font-size: 20pt;
 }
 .year1
 {
	position:relative;
	height:25%;
	text-align:left;
	padding-left:15px;
	font-size: 20pt;
 }
 .ganre1
 {
	position:relative;
	height:25%;
	text-align:left;
	padding-left:15px;
	font-size: 20pt;
 }
.saveButton {
background-color: #3E3435;
position: absolute;
top: 234px;
left: 533px;
height: 50px;
width: 90px;
border-radius: 3px;
box-shadow: 2px 2px 4px black;
font-family: "Open Sans", sans-serif;
font-size: 14px;
cursor: pointer;
color: white;
}
.proFileCont p
{
color:white;
}
.planBook {
width: auto;
margin-left: 0;
margin-top: 0;
background-color: #3E3435;
color: white;
border-bottom: 1px solid white;
padding: 10px;
display: block;
}
 .moreDiscription
 {
 		position:relative;
		height:240px;
		font-size: 15pt;
		text-align:justify;
		top:30px;
		list-style-type:none;
		background-color:white;
		margin: 15px;
		padding: 10px;
 }
 .backLogin
 {
	position:absolute;
	top:250px;
	left:355px;
	width:45%;
	height:250px;
	z-index:2;
	opacity: 0.4;
	background-color: white;
	border-radius: 5px 5px 0px 0px;
	border-top:6px solid #3E3435;
 }
  .login
 {
	position:absolute;
	top:250px;
	width:45%;
	left:355px;
	height:250px;
	z-index:3;
	border-radius: 5px 5px 0px 0px;
	border-top:6px solid #3E3435;
 }
 .loginTitle
 {
	position:relative;
	height:50px;
	color:white;
	top:10px;
	text-align:center;
	left:-125px;

 }
 .loginForm
 {
  	position:relative;
	height:50px;
	left:-30px;
	bottom:5px;
 }
 .passwordTitle
 {
 color:white;
 	position:relative;
	height:50px;
	left:-125px;
	text-align:center;
 }
 .passwordForm
 {
   	position:relative;
	height:50px;
	left:-30px;
 }
 .other
 {
   	position:relative;
	height:50px;
 }
 .myOr {
position: absolute;
top: 96px;
left: 324px;
font-family: 'Roboto', sans-serif;
font-size: 30px;
color: white;
z-index: 10;
}
.altLogIn {
position: absolute;
top: 70px;
left: 418px;
z-index: 10;
}
 .logBut {
position: absolute;
left: 66px;
top: 0px;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 700;
width: 228px;
padding: 9px 87px;
cursor: pointer;
text-transform: uppercase;
border-radius: 3px;
background-color: #3E3435;
color: white;
}
 .loginInput
 {
 	position:relative;
	left:100px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	width: 220px;
	height: 40px;
	margin-bottom:10px;
	padding-left:7px;
	color: #6f6f6f;
	border-radius: 3px;
	box-shadow: 2px 2px 4px black;
 }
 .passwordInput
 {
 	position:relative;
	left:100px;
	top:-15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	width: 220px;
	height: 40px;
	padding-left: 7px;
	color: #6f6f6f;
	border-radius: 3px;
	box-shadow: 2px 2px 4px black;
 }

.bookNewsCont ul { margin: 0px; padding: 0px; list-style: none; }
.bookNewsCont ul li { width: 90%; }
.bookNewsCont ul li a { text-decoration: underline; color: #44f; }
.bookNewsCont ul li img {float: left; margin: 3px; width: 40px;height: 40px;}
.bookNewsCont ul li p {font-size: 11px; word-spacing: 0px;}

div#footer {
	width: 100%;
	height: 100px;
	background: #3E3435;
	margin-top: 40px;
	line-height: 100px;
	font-size: 30px;
	color: #eee;
	clear:both;
	
}
div#footer span {
	margin-left: 30px;
}